p {
    font-size: 14px !important;
    padding-bottom: 1px !important;
    margin-bottom: 0 !important;
}

h1 {
    font-size: 60px !important;
    padding: 0 !important;
   
}

.text-zone {
    width: 550px !important;
}

.tech-tag {
    color: #ffd700;
}
.text-cloud{
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 6%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}